## Problem Statement:-
#### Prepare rules for the all the data sets
#### 1) Try different values of support and confidence. Observe the change in number of rules for different support,confidence values
#### 2) Change the minimum length in apriori algorithm
#### 3) Visulize the obtained rules using different plots

In [1]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\admin\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\admin\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)

In [2]:
#Import libraries
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
df = pd.read_csv(r"C:\DS Assignments\Assignment 9(Association Rules)\movies.csv")
df

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   V1             10 non-null     object
 1   V2             10 non-null     object
 2   V3             7 non-null      object
 3   V4             2 non-null      object
 4   V5             1 non-null      object
 5   Sixth Sense    10 non-null     int64
 6   Gladiator      10 non-null     int64
 7   LOTR1          10 non-null     int64
 8   Harry Potter1  10 non-null     int64
 9   Patriot        10 non-null     int64
 10  LOTR2          10 non-null     int64
 11  Harry Potter2  10 non-null     int64
 12  LOTR           10 non-null     int64
 13  Braveheart     10 non-null     int64
 14  Green Mile     10 non-null     int64
dtypes: int64(10), object(5)
memory usage: 1.3+ KB

In [5]:
df.shape

(10, 15)

## Data Preprocessing

In [6]:
# As the data is categorical format, we are using One Hot Encoding to convert into numerical format.
df1=pd.get_dummies(df)
df1

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,1,1,0,0,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,1,0

In [7]:
df1.shape

(10, 25)

## Apriori Algorithm

In [8]:
frequent_itemsets=apriori(df1,min_support=0.1,use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...
1393      0.1  (V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...
1394      0.1  (V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...
1395      0.1  (V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...
1396      0.1  (V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...

[1397 rows x 2 columns]

In [9]:
# Association Rule mining
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
3,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
64247,(LOTR2),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(Harry Potter1),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(Sixth Sense),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
64250,(LOTR1),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V2_LOTR1),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

#### A leverage value of 0 indicates independence. Range will be [-1 1]¶
#### A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [10]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(V5_LOTR2, Harry Potter1, LOTR2, Sixth Sense)","(LOTR1, Green Mile, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42207,"(V5_LOTR2, Harry Potter1, LOTR2, V2_LOTR1)","(LOTR1, Green Mile, V1_Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42195,"(V5_LOTR2, Green Mile, LOTR2, LOTR1)","(V1_Sixth Sense, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42196,"(V5_LOTR2, Green Mile, LOTR2, V2_LOTR1)","(LOTR1, V1_Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42197,"(V5_LOTR2, Green Mile, LOTR1, Harry Potter1)","(V1_Sixth Sense, LOTR2, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42198,"(V5_LOTR2, Green Mile, V2_LOTR1, Harry Potter1)","(LOTR1, V1_Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42199,"(V5_LOTR2, Green Mile, V2_LOTR1, LOTR1)","(V1_Sixth Sense, LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42200,"(V5_LOTR2, V1_Sixth Sense, LOTR2, Harry Potter1)","(LOTR1, Green Mile, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42201,"(V5_LOTR2, V1_Sixth Sense, LOTR2, LOTR1)","(Green Mile, V2_LOTR1, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42202,"(V5_LOTR2, V1_Sixth Sense, LOTR2, V2_LOTR1)","(LOTR1, Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42203,"(V5_LOTR2, V1_Sixth Sense, LOTR1, Harry Potter1)","(Green Mile, LOTR2, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42204,"(V5_LOTR2, V1_Sixth Sense, V2_LOTR1, Harry Pot...","(LOTR1, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42205,"(V5_LOTR2, V1_Sixth Sense, V2_LOTR1, LOTR1)","(Green Mile, LOTR2, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42206,"(V5_LOTR2, Harry Potter1, LOTR2, LOTR1)","(Green Mile, V1_Sixth Sense, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42208,"(V5_LOTR2, LOTR1, LOTR2, V2_LOTR1)","(Green Mile, V1_Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42222,"(LOTR1, V1_Sixth Sense, LOTR2, V2_LOTR1)","(V5_LOTR2, Green Mile, Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42209,"(V5_LOTR2, Harry Potter1, V2_LOTR1, LOTR1)","(Green Mile, V1_Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42210,"(Green Mile, V1_Sixth Sense, LOTR2, Harry Pott...","(V5_LOTR2, LOTR1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42211,"(LOTR1, Green Mile, V1_Sixth Sense, LOTR2)","(V5_LOTR2, Harry Potter1, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42212,"(Green Mile, V1_Sixth Sense, LOTR2, V2_LOTR1)","(V5_LOTR2, Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [11]:
# Lift Ratio > 1 is a good influential rule in selecting the associated transactions.
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
6,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
64247,(LOTR2),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(Harry Potter1),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(Sixth Sense),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
64250,(LOTR1),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V2_LOTR1),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

In [12]:
rules[rules.confidence>=1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.0,1.666667,0.04,inf
12,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.0,1.666667,0.08,inf
16,(V1_Sixth Sense),(Sixth Sense),0.2,0.6,0.2,1.0,1.666667,0.08,inf
19,(V2_LOTR),(Sixth Sense),0.1,0.6,0.1,1.0,1.666667,0.04,inf
20,(V2_LOTR1),(Sixth Sense),0.1,0.6,0.1,1.0,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
64240,"(V2_LOTR1, Sixth Sense)","(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, V1...",0.1,0.1,0.1,1.0,10.000000,0.09,inf
64241,"(LOTR1, V2_LOTR1)","(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, V1...",0.1,0.1,0.1,1.0,10.000000,0.09,inf
64242,(V5_LOTR2),"(V3_Harry Potter1, V4_Green Mile, Green Mile, ...",0.1,0.1,0.1,1.0,10.000000,0.09,inf
64243,(V3_Harry Potter1),"(V5_LOTR2, V4_Green Mile, Green Mile, V1_Sixth...",0.1,0.1,0.1,1.0,10.000000,0.09,inf
64251,(V2_LOTR1),"(V5_LOTR2, V3_Harry Potter1, V4_Green Mile, Gr...",0.1,0.1,0.1,1.0,10.000000,0.09,inf